UPSTAGE_API_KEY=

BUSINESS_STRATEGY_AGENT_ID=
BUSINESS_STRATEGY_CONFIG_ID=

FINANCE_MANAGEMENT_AGENT_ID=
FINANCE_MANAGEMENT_CONFIG_ID=

WORKFORCE_ESG_AGENT_ID=
WORKFORCE_ESG_CONFIG_ID=

COMPANY_BRIEF_AGENT_ID=
COMPANY_BRIEF_CONFIG_ID=
